<div class="container-xxl text-center my-4">
  <div id="container-img">
    <br>
    <h1 class="text-light fw-normal fs-1 pt-5 pt-3">Alpha Blog</h1>
    <p class="px-3 pt-2 pb-4 text-light">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aut aspernatur blanditiis quo eaque? Laborum voluptates quaerat laudantium quisquam, id ducimus modi quis sequi, saepe incidunt earum! Vero, incidunt ad.
    </p>
    <p class="pt-5 pb-2 text-light">
    I used custom css and bootstrap classes to achieve the same result as a JumboTron from bootstrap 4.
    </p>
    <button class="btn btn-success py-2 mb-5">Sign up!</button>
    <div id="big-break"></div>
  </div>
</div>
