<h1 class="text-center mt-4 fw-bold">Category: <%= @category.name %></h1>

<%= will_paginate @articles, class: "flickr_pagination" %>
<%= render 'articles/article' %>
<%= will_paginate @articles, class: "flickr_pagination" %>